{% extends "shop/layout.html" %}
{% load static %}

{% block main %}

  <div class="titulos">
    Carrito
  </div>

  <br></br>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
      </div>
    {% endfor %}
    {% endif %}


  <a href="/"> Seguir comprando </a>
  <br></br>

  {% if empty %}
  <h4> El carrito está vacío </h4>
  <br></br>
  {% else %}
  <div class = "container_cart" style="overflow-x:auto;">
    <table class="table align-middle">
      <thead>
        <tr>
          <th scope="col" colspan="2">Artículo</th>
          <th scope="col">Detalle</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
        {% for row in carrito %}
        <tr> 
          <td colspan="1">
            <img src="{{ row.item.pic0 }}" class = "pedidos_img">
            <h5>{{ row.item.nombre }}</h5>
          </td>
          <td>
            <br>
            <br>
            <form action="{% url 'carrito' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="cart_id" value="{{ row.id }}">
              <input type="hidden" name="method" value="quitar">
              <button class = "button_quitar" type="submit"> Quitar </button>
            </form>
          </td>
          <td colspan="1">
            <h5>Talla: {{ row.talla }} </h5>
            <br>
            {% if row.color != "False" %}
            <h5>Color: {{row.color}} </h5>  
            {% endif %}
            <br>
            <h5>Cantidad: {{ row.cantidad }} </h5>  
          </td>
          <td colspan="1">
            <br>
            <br>
            <h5> ${{ row.item.precio }}.00 </h5>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="3">

          </td>
        </tr>
      </tbody> 
    </table> 
  </div>   
  </div>
  <div>
    <br></br>
    <h3>Subtotal = ${{ subtotal }}.00</h3>
  </div>
  <br></br>
  <div>
    <form action="{% url 'carrito' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="method" value="select_envio" >
      <button class="btn btn-success btn-lg" type="submit"> Selecciona Método de Envío </button>
    </form>
  </div>
{% endif %}


{% endblock %}