{% extends "shop/layout.html" %}
{% load static %}

{% block main %}

<br></br>

<div class=container>
  <div class="row">
    <div class="col-sm-6">
          <div class="title1">Cubrebocas</div>
          <br></br>
          <img src="/static/cubrebocas.jpg">
          <br></br>
          <a href="#" class="btn btn-primary btn-lg btn-block">VER</a>
    </div>
    <div class="col-sm-6">
          <div class="title1">Cubreboquitas</div>
          <br></br>
          <img src="/static/cubreboquitas.jpg">
          <br></br>
          <a href="#" class="btn btn-primary btn-lg btn-block">VER</a>
    </div>
  </div>
</div>

<br></br>

{% endblock %}