{% extends "shop/layout.html" %}
{% load static %}

{% block main %}

  <div class="titulos">
    Mis compras
  </div>
  <br>

   {% if messages %}
      {% for message in messages %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
        </div>
        {% endfor %}
     {% endif %}





  {% if empty %}
    <h4> Aún no tienes pedidos  </h4>
    <a href="/"> Seguir comprando </a>
    <br></br>
  {% else %}

  {% if fromenvio %} 
  <img height= "600" src="https://raw.githubusercontent.com/Perruchok/besta_pictures/main/pago_besta.jpg">
  <br>
  <br>
  {% endif %}

    <div class = "container_cart" style="overflow-x:auto;">
        {% for ped_ord,total,ped_sets,envio_descrip,envio_price,ttotal in ped_master %}
            <h4>Pedido: {{ ped_ord }} </h4>

              <table class="table align-middle">
                <thead>
                  <tr>
                    <th scope="col">Artículo</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Estatus</th>
                  </tr>
                </thead>
                <tbody>
                  {% for pedido in ped_sets %}
                  <tr>
                      <td>
                        <img src="{{ pedido.item.pic0 }}" class = "pedidos_img">
                        <h5>{{ pedido.nombre }}</h5>
                        Talla: {{ pedido.talla }}
                      </td>
                      <td>
                        <br>
                        <h5>{{ pedido.cantidad }}</h5>
                      </td>
                      <td>
                        <br>
                        <h5>${{ pedido.item.precio }}.00</h5>
                      </td>
                      <td>
                        <br>
                        <h5>{{ pedido.estatus }}</h5>
                      </td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td colspan="1">
                      <h5> Subtotal: </h5>
                    </td>
                    <td colspan="1">
                  
                    </td>
                    <td colspan="1">
                      <h5>${{ total }}.00</h5>
                    </td>
                    <td colspan="1">
                  
                    </td>
                  </tr>
                  <tr>
                    <td colspan="1">
                      <h5>Envío:</h5>                                  
                    </td >
                    <td colspan="1"> 
                      <h6>{{ envio_descrip }}</h6>
                    </td>
                    <td colspan="1">
                      <h5>${{ envio_price }}.00</h5>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="1">
                      <h5>Total:</h5>
                    </td>
                    <td colspan="1">

                    </td>
                    <td>
                      <h5>${{ ttotal }}.00</h5>
                    </td>
                  </tr>
                </tbody>
              </table>

          <br></br>
        {% endfor %}
    </div>

    {% if not fromenvio %} 
    <div class = "center_pago">
      <div class="item_user" type="button" data-bs-toggle="modal" data-bs-target="#Modal1">
        <p> ¿Cómo realizar pago? </p>
      </div>
    </div>
    {% endif %}  

  {% endif %}



<!-- Modal For como realizar pago -->
<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="https://raw.githubusercontent.com/Perruchok/besta_pictures/main/pago_besta.jpg">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>  


{% endblock %}