{% extends "shop/layout.html" %}
{% load static %}

{% block main %}
<br></br>
  <div class="titulos">
    {{ title }}
  </div>
  <br></br>
  <div class="containersport">
    {%  for item in sports %}
    <div class="item" >
      <form action ="/sport" method="post">
        {% csrf_token %}
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <button type="submit" class="button_sport">
            <div class="imageblur"> 
              <img class = "item_picture" src="{{ item.pic0 }}">        
              {% if item.soldout != 0 %}
              <img class = "marca" src="https://raw.githubusercontent.com/Perruchok/besta_pictures/main/agotado.png">
              {% endif %}
            </div>
            <p> </p>
            <p class="item_name">{{ item.nombre }}</p>
            <p class="item_price">${{ item.precio }}.00</p>
        </button>
      </form>
    </div>
    {% endfor  %}
  </div>

  <br></br>

{% endblock %}